body {
    font: 100 1em/150% sans-serif;
    width: 100%;
    background-color: whitesmoke;
}
.responsive-menu {
    transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    position: fixed;
    top: -155%;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 75px 38px 38px 20px;
    background: rgba(20, 20, 20, .9);
}
.responsive-menu ul {
    list-style: none;
}
.menu-item {
    width: 100%;
    padding: 4px 0;
}
.menu-item a {
    font: 100 1.8em/200% sans-serif;
    color: rgba(255, 255, 255, .9);
    text-decoration: none;
    display: block;
    text-align: center;
}
.menu-item a:hover,
.active a {
    color: rgba(255, 100, 100, .8);
}
.menu-item a:hover {
    font-weight: bold;
    background-color: rgba(255, 255, 255, .8);
}
.active a:hover {
    color: rgb(250, 250, 250);
    background-color: rgba(255, 100, 100, .8);
}
.menu-icon {
    z-index: 9999;
    text-decoration: none;
    position: fixed;
    top: 20px;
    right: 2em;
    font-size: 1.5em;
    color: #ccc;
    padding: .3em;
    border-radius: .2em;
    border: .1em solid #ccc;
}
.menu-icon:hover {
    cursor: pointer;
}
#toggler {
    display: none;
    /*hide */
}
#toggler:checked + .responsive-menu {
    top: 0;
}
#main {
    width: 768px;
    margin: 0 auto;
}
@media screen and(max-width:768px) {
    .menu-icon {
        right: 1em;
    }
}
