/* Description: IE7 specific style. */
.screen-reader-text {
  clip: rect(1px 1px 1px 1px); }

.secondary-toggle {
  color: #333;
  font-size: 16px;
  line-height: 60px;
  width: auto; }

.pagination .prev,
.pagination .next {
  font-size: 16px;
  font-weight: 700;
  line-height: 64px;
  padding: 0 19px;
  width: auto; }

.image-navigation,
.comment-navigation {
  width: 662px; }

.post-navigation {
  text-align: left; }

.site-main {
  text-align: center; }

.hentry {
  margin-bottom: 7.6923%;
  text-align: left;
  width: 808px; }

.page-header {
  margin-bottom: 7.6923%;
  text-align: left; }

.comments-area {
  text-align: left; }

.comment-list,
.comment-navigation {
  margin-bottom: 1.6471em; }

.gallery-columns-2 .gallery-item {
  max-width: 48%; }

.gallery-columns-3 .gallery-item {
  max-width: 31%; }

.gallery-columns-4 .gallery-item {
  max-width: 22%; }

.gallery-columns-5 .gallery-item {
  max-width: 17%; }

.gallery-columns-6 .gallery-item {
  max-width: 13.5%; }

.gallery-columns-7 .gallery-item {
  max-width: 11%; }

.gallery-columns-8 .gallery-item {
  max-width: 9.5%; }

.gallery-columns-9 .gallery-item {
  max-width: 8%; }

/* Description: Global Styles for older IE versions (previous to IE9). */
body,
button,
input,
select,
textarea {
  font-size: 19px;
  line-height: 1.6842; }

button,
input {
  line-height: normal; }

p,
address,
pre,
hr,
ul,
ol,
dl,
dd,
table {
  margin-bottom: 1.6842em; }

ul,
ol {
  margin-left: 0; }

li > ul,
li > ol,
blockquote > ul,
blockquote > ol {
  margin-left: 1.3333em; }

blockquote {
  border-color: inherit;
  border-style: solid;
  border-width: 0 0 0 4px;
  font-size: 22px;
  line-height: 1.8182;
  margin-bottom: 1.8182em;
  margin-left: -1.0909em;
  padding-left: 0.9091em; }

blockquote > blockquote {
  margin-left: 0; }

blockquote p {
  margin-bottom: 1.8182em; }

blockquote cite,
blockquote small {
  font-size: 19px;
  line-height: 1.6842; }

pre {
  line-height: 1.2632; }

.entry-content img,
.entry-summary img,
.page-content img,
.comment-content img,
.widget img {
  max-width: 660px; }

img.size-full,
img.size-large,
img.header-image,
img.wp-post-image,
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
  height: auto;
  width: auto
  /* Prevent stretching of full-size and large-size images with height and width attributes in IE8 */ }

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.post-password-form input[type="submit"],
.widecolumn #submit,
.widecolumn .mu_register input[type="submit"] {
  font-size: 16px;
  padding: 0.8125em 1.625em; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  padding: 0.5278em; }

.main-navigation {
  font-size: 16px;
  line-height: 1.5;
  margin: 9.0909%; }

.main-navigation ul ul {
  border-bottom: 0;
  border-top: 0;
  margin-left: 1em; }

.main-navigation a {
  padding: 0.75em 0; }

.main-navigation .menu-item-has-children > a {
  padding-right: 48px; }

.main-navigation .menu-item-description {
  font-size: 13px;
  line-height: 1.8462;
  margin-top: 0; }

.social-navigation {
  margin: 9.0909%;
  max-width: 660px;
  padding-top: 0; }

.social-navigation ul {
  margin-bottom: -1.2632em; }

.social-navigation a {
  width: 2.5263em;
  height: 2.5263em; }

.secondary-toggle {
  margin-top: -32px;
  right: 7.6897%;
  width: 64px;
  height: 64px; }

.secondary-toggle:before {
  line-height: 64px; }

.post-password-form label,
.post-navigation .meta-nav,
.comment-navigation,
.image-navigation,
.author-heading,
.author-bio,
.entry-footer,
.page-links a,
.page-links span,
.comment-metadata,
.pingback .edit-link,
.comment-list .reply,
.comment-notes,
.comment-awaiting-moderation,
.logged-in-as,
.comment-form label,
.form-allowed-tags,
.site-info,
.wp-caption-text,
.gallery-caption,
.entry-caption,
.widecolumn label,
.widecolumn .mu_register label {
  font-size: 16px; }

.post-navigation .post-title {
  font-size: 24px;
  line-height: 1.1667; }

.pagination .nav-links {
  min-height: 3.3684em; }

.pagination .page-numbers {
  line-height: 3.3684em;
  padding: 0 0.8421em; }

.pagination .prev,
.pagination .next {
  padding: 0;
  width: 64px;
  height: 64px; }

.pagination .prev:before,
.pagination .next:before {
  line-height: 64px;
  width: 64px;
  height: 64px; }

.image-navigation a {
  display: block;
  margin-bottom: 2em; }

.image-navigation .nav-previous,
.comment-navigation .nav-previous {
  float: left;
  width: 50%; }

.image-navigation .nav-next,
.comment-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%; }

.image-navigation .nav-previous a:before,
.image-navigation .nav-next a:after,
.comment-navigation .nav-previous a:before,
.comment-navigation .nav-next a:after {
  font-size: 24px;
  top: -1px; }

blockquote.alignleft,
.wp-caption.alignleft,
img.alignleft {
  margin: 0.4211em 1.6842em 1.6842em 0; }

blockquote.alignright,
.wp-caption.alignright,
img.alignright {
  margin: 0.4211em 0 1.6842em 1.6842em; }

blockquote.aligncenter,
.wp-caption.aligncenter,
img.aligncenter {
  margin-top: 0.4211em;
  margin-bottom: 1.6842em; }

.site-header {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  padding: 0; }

.secondary {
  background-color: #fff;
  margin: 0 auto;
  max-width: 807px;
  padding: 0; }

.site-main {
  padding: 7.6923% 0; }

.site-content {
  margin: 0 auto;
  max-width: 954px; }

.site-branding {
  background-color: inherit;
  margin: 0 auto;
  max-width: 954px;
  padding: 0; }

.site-title {
  font-size: 32px;
  line-height: 1.25;
  margin: 7.6897% 7.6897% 0; }

.site-description {
  background-color: inherit;
  display: block;
  filter: alpha(opacity=70);
  font-size: 16px;
  margin: 0.5em 7.6897% 7.6897%; }

.sidebar {
  position: static !important; }

.widget-area {
  clear: both;
  margin: 9.0909% 9.0909% 0;
  max-width: 660px; }

.widget {
  font-size: 16px;
  margin: 0 0 11.1111%; }

.widget p,
.widget address,
.widget hr,
.widget ul,
.widget ol,
.widget dl,
.widget dd,
.widget table,
.widget pre {
  margin-bottom: 1.5em; }

.widget li > ul,
.widget li > ol {
  margin-bottom: 0; }

.widget blockquote {
  font-size: 19px;
  line-height: 1.6842;
  margin-bottom: 1.6842em;
  margin-left: -1.2632em;
  padding-left: 1.0526em; }

.widget blockquote > blockquote {
  margin-left: 0; }

.widget blockquote p {
  margin-bottom: 1.6842em; }

.widget blockquote cite,
.widget blockquote small {
  font-size: 16px;
  line-height: 1.5; }

.widget pre {
  line-height: 1.5;
  padding: 0.75em; }

.widget button,
.widget input,
.widget select,
.widget textarea {
  line-height: 1.5; }

.widget button,
.widget input {
  line-height: normal; }

.widget button,
.widget input[type="button"],
.widget input[type="reset"],
.widget input[type="submit"] {
  font-size: 16px;
  padding: 0.8125em 1.625em; }

.widget input[type="text"],
.widget input[type="email"],
.widget input[type="url"],
.widget input[type="password"],
.widget input[type="search"],
.widget textarea {
  padding: 0.75em; }

.widget-title {
  margin: 0 0 1.5em; }

.widget_calendar td,
.widget_calendar th {
  line-height: 2.9375; }

.widget_calendar caption {
  margin: 0 0 1.5em; }

.widget_archive li,
.widget_categories li,
.widget_links li,
.widget_meta li,
.widget_nav_menu li,
.widget_pages li,
.widget_recent_comments li,
.widget_recent_entries li {
  padding: 0.7188em 0; }

.widget_categories .children,
.widget_nav_menu .sub-menu,
.widget_pages .children {
  margin: 0.7188em 0 0 1em;
  padding-top: 0.7188em; }

.widget_rss li {
  margin-bottom: 1.5em; }

.widget_rss .rss-date,
.widget_rss cite {
  font-size: 13px;
  line-height: 1.8462; }

.widget .wp-caption-text,
.widget .gallery-caption {
  line-height: 1.5;
  padding: 0.5em 0; }

.hentry,
.page-header,
.page-content {
  margin: 0 7.6923%; }

.hentry + .hentry,
.page-header + .hentry,
.page-header + .page-content {
  margin-top: 7.6923%; }

.post-thumbnail {
  margin-bottom: 2.9474em; }

.entry-header {
  padding: 0 9.0909%; }

.entry-title,
.widecolumn h2 {
  font-size: 39px;
  line-height: 1.2308;
  margin-bottom: 1.2308em; }

.entry-content,
.entry-summary {
  padding: 0 9.0909% 9.0909%; }

.entry-content h1,
.entry-summary h1,
.page-content h1,
.comment-content h1 {
  font-size: 39px;
  line-height: 1.2308;
  margin-top: 1.641em;
  margin-bottom: 0.8205em; }

.entry-content h2,
.entry-summary h2,
.page-content h2,
.comment-content h2 {
  font-size: 32px;
  line-height: 1.25;
  margin-top: 2em;
  margin-bottom: 1em; }

.entry-content h3,
.entry-summary h3,
.page-content h3,
.comment-content h3 {
  font-size: 27px;
  line-height: 1.1852;
  margin-top: 2.3704em;
  margin-bottom: 1.1852em; }

.entry-content h4,
.entry-summary h4,
.page-content h4,
.comment-content h4 {
  font-size: 22px;
  line-height: 1.4545;
  margin-top: 2.9091em;
  margin-bottom: 1.4545em; }

.entry-content h5,
.entry-content h6,
.entry-summary h5,
.entry-summary h6,
.page-content h5,
.page-content h6,
.comment-content h5,
.comment-content h6 {
  font-size: 19px;
  line-height: 1.2632;
  margin-top: 3.3684em;
  margin-bottom: 1.6842em; }

.entry-content .more-link:after {
  font-size: 24px;
  top: 3px; }

.author-info {
  margin: 0 9.0909%;
  padding: 9.0909% 0; }

.author-info .avatar {
  margin: 0 1.6842em 1.6842em 0;
  width: 56px;
  height: 56px; }

.author-link:after {
  font-size: 24px;
  top: 0; }

.entry-footer {
  padding: 4.5454% 9.0909%; }

.posted-on:before,
.byline:before,
.cat-links:before,
.tags-links:before,
.comments-link:before,
.entry-format:before,
.edit-link:before,
.full-size-link:before {
  top: 4px; }

.updated {
  display: none; }

.updated.published {
  display: inline; }

.page-header {
  border-color: inherit;
  border-style: solid;
  border-width: 0 0 0 7px;
  padding: 3.8461% 7.6923%; }

.page-title,
.taxonomy-description {
  margin-left: -7px; }

.taxonomy-description {
  padding-top: 0.4211em; }

.page-title,
.comments-title,
.comment-reply-title,
.post-navigation .post-title {
  font-size: 27px;
  line-height: 1.1852; }

.page-content {
  padding: 7.6923%; }

.page-links {
  margin-bottom: 1.4736em; }

.page-links a,
.page-links > span {
  margin: 0 0.25em 0.25em 0; }

.format-aside .entry-title,
.format-image .entry-title,
.format-video .entry-title,
.format-quote .entry-title,
.format-gallery .entry-title,
.format-status .entry-title,
.format-link .entry-title,
.format-audio .entry-title,
.format-chat .entry-title {
  font-size: 22px;
  line-height: 1.4545;
  margin-bottom: 32px; }

.format-link .entry-title a:after {
  top: 0.125em; }

.comments-title {
  margin-bottom: 1.4545em; }

.comment-list article,
.comment-list .pingback,
.comment-list .trackback {
  padding: 1.6842em 0; }

.comment-list + .comment-respond,
.comment-navigation + .comment-respond {
  padding-top: 1.6842em; }

.comment-list .children > li {
  padding-left: 1.4737em; }

.comment-meta {
  position: relative; }

.comment-author {
  margin-bottom: 0;
  padding-left: 4.6315em; }

.comment-author .avatar {
  margin: 0;
  position: absolute;
  top: 3px;
  left: 0;
  width: 56px;
  height: 56px; }

.comment-metadata {
  line-height: 2;
  padding-left: 5.5em; }

.comment-metadata .edit-link:before,
.pingback .edit-link:before {
  top: 8px; }

.bypostauthor > article .fn:after {
  top: 8px;
  left: 6px; }

.comment-content ul,
.comment-content ol {
  margin: 0 0 1.6842em 0; }

.comment-content li > ul,
.comment-content li > ol,
.comment-content blockquote > ul,
.comment-content blockquote > ol {
  margin-left: 1.3333em; }

.comment-list .reply a {
  padding: 0.4375em 0.875em; }

.comment-form,
.no-comments {
  padding-top: 1.6842em; }

.comment-reply-title small a:before {
  top: -1px; }

.comment-list .reply {
  margin-top: 0; }

.site-footer {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  margin: 0 auto;
  max-width: 806px;
  padding: 0; }

.site-info {
  margin: 4.5454% 9.0909%; }

.post-navigation {
  border-top: 0;
  margin: 7.6923% 7.6923% 0; }

.post-navigation a {
  padding: 4.5454% 9.0909%; }

.pagination {
  border-top: 0;
  margin: 7.6923% 7.6923% 0;
  padding: 0; }

.pagination .page-numbers {
  display: inline-block; }

.pagination .meta-nav {
  display: none; }

.image-navigation {
  padding: 0 9.0909%; }

.comments-area {
  border-top: 0;
  margin: 7.6923% 7.6923% 0; }

embed,
iframe,
object,
video {
  margin-bottom: 1.6842em; }

.wp-audio-shortcode,
.wp-video,
.wp-playlist.wp-audio-playlist {
  font-size: 19px;
  margin-bottom: 1.6842em; }

.wp-caption,
.gallery {
  margin-bottom: 1.6842em; }

.wp-caption-text,
.gallery-caption {
  padding: 0.5em 0; }

.widecolumn {
  margin: 7.6923%; }

.widecolumn .mu_alert {
  margin-bottom: 1.6842em; }

.widecolumn p {
  margin: 1.6842em 0; }

.widecolumn p + h2 {
  margin-top: 1.641em; }

.widecolumn #key,
.widecolumn .mu_register #blog_title,
.widecolumn .mu_register #user_email,
.widecolumn .mu_register #blogname,
.widecolumn .mu_register #user_name {
  font-size: 19px; }

.widecolumn .mu_register #blog_title,
.widecolumn .mu_register #user_email,
.widecolumn .mu_register #user_name {
  margin: 0 0 0.421em; }

/**
 * RTL
 */
.rtl ul,
.rtl ol {
  margin-right: 0;
  margin-left: auto; }

.rtl li > ul,
.rtl li > ol,
.rtl blockquote > ul,
.rtl blockquote > ol {
  margin-right: 1.3333em;
  margin-left: auto; }

.rtl blockquote {
  border-width: 0 4px 0 0;
  margin-right: -1.0909em;
  margin-left: auto;
  padding-right: 0.9091em;
  padding-left: 0; }

.rtl blockquote > blockquote {
  margin-right: 0;
  margin-left: auto; }

.rtl .main-navigation ul ul {
  margin-right: 1em;
  margin-left: auto; }

.rtl .main-navigation .menu-item-has-children > a {
  padding-right: 0;
  padding-left: 48px; }

.rtl .secondary-toggle {
  right: auto;
  left: 7.6897%; }

.rtl .image-navigation .nav-previous,
.rtl .comment-navigation .nav-previous {
  float: right; }

.rtl .image-navigation .nav-next,
.rtl .comment-navigation .nav-next {
  float: left;
  text-align: left; }

.rtl blockquote.alignright,
.rtl .wp-caption.alignright
.rtl img.alignright {
  margin: 0.4211em 0 1.6842em 1.6842em; }

.rtl blockquote.alignleft,
.rtl .wp-caption.alignleft,
.rtl img.alignleft {
  margin: 0.4211em 1.6842em 1.6842em 0; }

.rtl .widget blockquote {
  margin-right: -1.2632em;
  margin-left: auto;
  padding-right: 1.0526em;
  padding-left: 0; }

.rtl .widget blockquote > blockquote {
  margin-right: 0;
  margin-left: auto; }

.rtl .widget_categories .children,
.rtl .widget_nav_menu .sub-menu,
.rtl .widget_pages .children {
  margin: 0.7188em 1em 0 0; }

.rtl .page-links a,
.rtl .page-links > span {
  margin: 0 0 0.25em 0.25em; }

.rtl .author-info .avatar {
  margin: 0 0 1.6842em 1.6842em; }

.rtl .page-header {
  border-width: 0 7px 0 0; }

.rtl .page-title,
.rtl .taxonomy-description {
  margin-right: -7px;
  margin-left: auto; }

.rtl .comment-list .children > li {
  padding-right: 1.4737em;
  padding-left: 0; }

.rtl .comment-author {
  padding-right: 4.6315em;
  padding-left: 0; }

.rtl .comment-author .avatar {
  right: 0;
  left: auto; }

.rtl .comment-content ul,
.rtl .comment-content ol {
  margin-right: 0;
  margin-left: auto; }

.rtl .comment-content li > ul,
.rtl .comment-content li > ol,
.rtl .comment-content blockquote > ul,
.rtl .comment-content blockquote > ol {
  margin-right: 1.3333em;
  margin-left: auto; }

.rtl .comment-metadata {
  padding-right: 5.5em;
  padding-left: 0; }

.rtl .bypostauthor > article .fn:after {
  right: 6px;
  left: auto; }

/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%
  /* 3 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

body {
  min-height: 100%;
  padding-bottom: 7em;
  padding-top: 2em; }

.center {
  text-align: center; }

.link, .post-link {
  text-decoration: none;
  color: dimgray; }

.link:hover, .post-link:hover, .the-title a:hover {
  color: deeppink; }

.the-title a {
  text-decoration: none;
  color: dimgray; }

#main-menu * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.responsive-menu {
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  position: fixed;
  top: -155%;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 6em 0 0 0;
  background: rgba(20, 20, 20, 0.9); }

ul#output-menu, ul#social-menu {
  list-style: none;
  padding: 0; }

.menu-item {
  width: 100%;
  padding: 4px 0; }

.menu-item a {
  font: 100 1.8em/190% sans-serif;
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
  display: block;
  text-align: center; }

.menu-item a:hover {
  color: #323232;
  background-color: white; }

.active {
  color: #323232; }

.active a:hover {
  color: orangered; }

.menu-icon {
  z-index: 9999;
  text-decoration: none;
  position: fixed;
  top: 2em;
  right: 2em;
  font-size: 1.5em;
  color: #ccc;
  padding: .3em .4em;
  border-radius: .2em;
  border: .1em solid #ccc; }

.menu-icon:hover {
  cursor: pointer;
  color: deeppink;
  border-color: deeppink; }

#toggler {
  display: none
  /*hide */ }

#toggler:checked + .responsive-menu {
  top: 0; }

#main {
  width: 768px;
  margin: 0 auto; }

#colophon {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4em;
  padding-bottom: .5em;
  text-align: center;
  color: rgba(100, 100, 100, 0.5);
  opacity: .15; }

#colophon:hover {
  opacity: 1; }

#social-menu {
  width: 768px;
  margin: 0 auto; }

@media screen and (max-width: 768px) {
  .menu-icon {
    right: 1em; } }
.container, .container-fluid {
  margin-right: auto;
  margin-left: auto; }

.container-fluid {
  padding-right: 2rem;
  padding-left: 2rem; }

.row {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-right: -.5rem;
  margin-left: -.5rem; }

.row.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.col.reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
          flex-direction: column-reverse; }

.col-xs, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-offset-0, .col-xs-offset-1, .col-xs-offset-10, .col-xs-offset-11, .col-xs-offset-12, .col-xs-offset-2, .col-xs-offset-3, .col-xs-offset-4, .col-xs-offset-5, .col-xs-offset-6, .col-xs-offset-7, .col-xs-offset-8, .col-xs-offset-9 {
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
          flex: 0 0 auto;
  padding-right: .5rem;
  padding-left: .5rem; }

.col-xs {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  -webkit-flex-grow: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
  -webkit-flex-basis: 0;
          flex-basis: 0;
  max-width: 100%; }

.col-xs-1 {
  -ms-flex-preferred-size: 8.33333333%;
  -webkit-flex-basis: 8.33333333%;
          flex-basis: 8.33333333%;
  max-width: 8.33333333%; }

.col-xs-2 {
  -ms-flex-preferred-size: 16.66666667%;
  -webkit-flex-basis: 16.66666667%;
          flex-basis: 16.66666667%;
  max-width: 16.66666667%; }

.col-xs-3 {
  -ms-flex-preferred-size: 25%;
  -webkit-flex-basis: 25%;
          flex-basis: 25%;
  max-width: 25%; }

.col-xs-4 {
  -ms-flex-preferred-size: 33.33333333%;
  -webkit-flex-basis: 33.33333333%;
          flex-basis: 33.33333333%;
  max-width: 33.33333333%; }

.col-xs-5 {
  -ms-flex-preferred-size: 41.66666667%;
  -webkit-flex-basis: 41.66666667%;
          flex-basis: 41.66666667%;
  max-width: 41.66666667%; }

.col-xs-6 {
  -ms-flex-preferred-size: 50%;
  -webkit-flex-basis: 50%;
          flex-basis: 50%;
  max-width: 50%; }

.col-xs-7 {
  -ms-flex-preferred-size: 58.33333333%;
  -webkit-flex-basis: 58.33333333%;
          flex-basis: 58.33333333%;
  max-width: 58.33333333%; }

.col-xs-8 {
  -ms-flex-preferred-size: 66.66666667%;
  -webkit-flex-basis: 66.66666667%;
          flex-basis: 66.66666667%;
  max-width: 66.66666667%; }

.col-xs-9 {
  -ms-flex-preferred-size: 75%;
  -webkit-flex-basis: 75%;
          flex-basis: 75%;
  max-width: 75%; }

.col-xs-10 {
  -ms-flex-preferred-size: 83.33333333%;
  -webkit-flex-basis: 83.33333333%;
          flex-basis: 83.33333333%;
  max-width: 83.33333333%; }

.col-xs-11 {
  -ms-flex-preferred-size: 91.66666667%;
  -webkit-flex-basis: 91.66666667%;
          flex-basis: 91.66666667%;
  max-width: 91.66666667%; }

.col-xs-12 {
  -ms-flex-preferred-size: 100%;
  -webkit-flex-basis: 100%;
          flex-basis: 100%;
  max-width: 100%; }

.col-xs-offset-0 {
  margin-left: 0; }

.col-xs-offset-1 {
  margin-left: 8.33333333%; }

.col-xs-offset-2 {
  margin-left: 16.66666667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333333%; }

.col-xs-offset-5 {
  margin-left: 41.66666667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333333%; }

.col-xs-offset-8 {
  margin-left: 66.66666667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333333%; }

.col-xs-offset-11 {
  margin-left: 91.66666667%; }

.start-xs {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
  text-align: start; }

.center-xs {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  text-align: center; }

.end-xs {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
          justify-content: flex-end;
  text-align: end; }

.top-xs {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
          align-items: flex-start; }

.middle-xs {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center; }

.bottom-xs {
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
          align-items: flex-end; }

.around-xs {
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
          justify-content: space-around; }

.between-xs {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between; }

.first-xs {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  -webkit-order: -1;
          order: -1; }

.last-xs {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  -webkit-order: 1;
          order: 1; }

@media only screen and (min-width: 48em) {
  .container {
    width: 49rem; }

  .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-offset-0, .col-sm-offset-1, .col-sm-offset-10, .col-sm-offset-11, .col-sm-offset-12, .col-sm-offset-2, .col-sm-offset-3, .col-sm-offset-4, .col-sm-offset-5, .col-sm-offset-6, .col-sm-offset-7, .col-sm-offset-8, .col-sm-offset-9 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
            flex: 0 0 auto;
    padding-right: .5rem;
    padding-left: .5rem; }

  .col-sm {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    -webkit-flex-grow: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
    -webkit-flex-basis: 0;
            flex-basis: 0;
    max-width: 100%; }

  .col-sm-1 {
    -ms-flex-preferred-size: 8.33333333%;
    -webkit-flex-basis: 8.33333333%;
            flex-basis: 8.33333333%;
    max-width: 8.33333333%; }

  .col-sm-2 {
    -ms-flex-preferred-size: 16.66666667%;
    -webkit-flex-basis: 16.66666667%;
            flex-basis: 16.66666667%;
    max-width: 16.66666667%; }

  .col-sm-3 {
    -ms-flex-preferred-size: 25%;
    -webkit-flex-basis: 25%;
            flex-basis: 25%;
    max-width: 25%; }

  .col-sm-4 {
    -ms-flex-preferred-size: 33.33333333%;
    -webkit-flex-basis: 33.33333333%;
            flex-basis: 33.33333333%;
    max-width: 33.33333333%; }

  .col-sm-5 {
    -ms-flex-preferred-size: 41.66666667%;
    -webkit-flex-basis: 41.66666667%;
            flex-basis: 41.66666667%;
    max-width: 41.66666667%; }

  .col-sm-6 {
    -ms-flex-preferred-size: 50%;
    -webkit-flex-basis: 50%;
            flex-basis: 50%;
    max-width: 50%; }

  .col-sm-7 {
    -ms-flex-preferred-size: 58.33333333%;
    -webkit-flex-basis: 58.33333333%;
            flex-basis: 58.33333333%;
    max-width: 58.33333333%; }

  .col-sm-8 {
    -ms-flex-preferred-size: 66.66666667%;
    -webkit-flex-basis: 66.66666667%;
            flex-basis: 66.66666667%;
    max-width: 66.66666667%; }

  .col-sm-9 {
    -ms-flex-preferred-size: 75%;
    -webkit-flex-basis: 75%;
            flex-basis: 75%;
    max-width: 75%; }

  .col-sm-10 {
    -ms-flex-preferred-size: 83.33333333%;
    -webkit-flex-basis: 83.33333333%;
            flex-basis: 83.33333333%;
    max-width: 83.33333333%; }

  .col-sm-11 {
    -ms-flex-preferred-size: 91.66666667%;
    -webkit-flex-basis: 91.66666667%;
            flex-basis: 91.66666667%;
    max-width: 91.66666667%; }

  .col-sm-12 {
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
            flex-basis: 100%;
    max-width: 100%; }

  .col-sm-offset-0 {
    margin-left: 0; }

  .col-sm-offset-1 {
    margin-left: 8.33333333%; }

  .col-sm-offset-2 {
    margin-left: 16.66666667%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-4 {
    margin-left: 33.33333333%; }

  .col-sm-offset-5 {
    margin-left: 41.66666667%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-7 {
    margin-left: 58.33333333%; }

  .col-sm-offset-8 {
    margin-left: 66.66666667%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-10 {
    margin-left: 83.33333333%; }

  .col-sm-offset-11 {
    margin-left: 91.66666667%; }

  .start-sm {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
            justify-content: flex-start;
    text-align: start; }

  .center-sm {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    text-align: center; }

  .end-sm {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
            justify-content: flex-end;
    text-align: end; }

  .top-sm {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
            align-items: flex-start; }

  .middle-sm {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
            align-items: center; }

  .bottom-sm {
    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
            align-items: flex-end; }

  .around-sm {
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
            justify-content: space-around; }

  .between-sm {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
            justify-content: space-between; }

  .first-sm {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    -webkit-order: -1;
            order: -1; }

  .last-sm {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    -webkit-order: 1;
            order: 1; } }
@media only screen and (min-width: 64em) {
  .container {
    width: 65rem; }

  .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-offset-0, .col-md-offset-1, .col-md-offset-10, .col-md-offset-11, .col-md-offset-12, .col-md-offset-2, .col-md-offset-3, .col-md-offset-4, .col-md-offset-5, .col-md-offset-6, .col-md-offset-7, .col-md-offset-8, .col-md-offset-9 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
            flex: 0 0 auto;
    padding-right: .5rem;
    padding-left: .5rem; }

  .col-md {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    -webkit-flex-grow: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
    -webkit-flex-basis: 0;
            flex-basis: 0;
    max-width: 100%; }

  .col-md-1 {
    -ms-flex-preferred-size: 8.33333333%;
    -webkit-flex-basis: 8.33333333%;
            flex-basis: 8.33333333%;
    max-width: 8.33333333%; }

  .col-md-2 {
    -ms-flex-preferred-size: 16.66666667%;
    -webkit-flex-basis: 16.66666667%;
            flex-basis: 16.66666667%;
    max-width: 16.66666667%; }

  .col-md-3 {
    -ms-flex-preferred-size: 25%;
    -webkit-flex-basis: 25%;
            flex-basis: 25%;
    max-width: 25%; }

  .col-md-4 {
    -ms-flex-preferred-size: 33.33333333%;
    -webkit-flex-basis: 33.33333333%;
            flex-basis: 33.33333333%;
    max-width: 33.33333333%; }

  .col-md-5 {
    -ms-flex-preferred-size: 41.66666667%;
    -webkit-flex-basis: 41.66666667%;
            flex-basis: 41.66666667%;
    max-width: 41.66666667%; }

  .col-md-6 {
    -ms-flex-preferred-size: 50%;
    -webkit-flex-basis: 50%;
            flex-basis: 50%;
    max-width: 50%; }

  .col-md-7 {
    -ms-flex-preferred-size: 58.33333333%;
    -webkit-flex-basis: 58.33333333%;
            flex-basis: 58.33333333%;
    max-width: 58.33333333%; }

  .col-md-8 {
    -ms-flex-preferred-size: 66.66666667%;
    -webkit-flex-basis: 66.66666667%;
            flex-basis: 66.66666667%;
    max-width: 66.66666667%; }

  .col-md-9 {
    -ms-flex-preferred-size: 75%;
    -webkit-flex-basis: 75%;
            flex-basis: 75%;
    max-width: 75%; }

  .col-md-10 {
    -ms-flex-preferred-size: 83.33333333%;
    -webkit-flex-basis: 83.33333333%;
            flex-basis: 83.33333333%;
    max-width: 83.33333333%; }

  .col-md-11 {
    -ms-flex-preferred-size: 91.66666667%;
    -webkit-flex-basis: 91.66666667%;
            flex-basis: 91.66666667%;
    max-width: 91.66666667%; }

  .col-md-12 {
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
            flex-basis: 100%;
    max-width: 100%; }

  .col-md-offset-0 {
    margin-left: 0; }

  .col-md-offset-1 {
    margin-left: 8.33333333%; }

  .col-md-offset-2 {
    margin-left: 16.66666667%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-4 {
    margin-left: 33.33333333%; }

  .col-md-offset-5 {
    margin-left: 41.66666667%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-7 {
    margin-left: 58.33333333%; }

  .col-md-offset-8 {
    margin-left: 66.66666667%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-10 {
    margin-left: 83.33333333%; }

  .col-md-offset-11 {
    margin-left: 91.66666667%; }

  .start-md {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
            justify-content: flex-start;
    text-align: start; }

  .center-md {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    text-align: center; }

  .end-md {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
            justify-content: flex-end;
    text-align: end; }

  .top-md {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
            align-items: flex-start; }

  .middle-md {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
            align-items: center; }

  .bottom-md {
    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
            align-items: flex-end; }

  .around-md {
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
            justify-content: space-around; }

  .between-md {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
            justify-content: space-between; }

  .first-md {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    -webkit-order: -1;
            order: -1; }

  .last-md {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    -webkit-order: 1;
            order: 1; } }
@media only screen and (min-width: 75em) {
  .container {
    width: 76rem; }

  .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-offset-0, .col-lg-offset-1, .col-lg-offset-10, .col-lg-offset-11, .col-lg-offset-12, .col-lg-offset-2, .col-lg-offset-3, .col-lg-offset-4, .col-lg-offset-5, .col-lg-offset-6, .col-lg-offset-7, .col-lg-offset-8, .col-lg-offset-9 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
            flex: 0 0 auto;
    padding-right: .5rem;
    padding-left: .5rem; }

  .col-lg {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    -webkit-flex-grow: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
    -webkit-flex-basis: 0;
            flex-basis: 0;
    max-width: 100%; }

  .col-lg-1 {
    -ms-flex-preferred-size: 8.33333333%;
    -webkit-flex-basis: 8.33333333%;
            flex-basis: 8.33333333%;
    max-width: 8.33333333%; }

  .col-lg-2 {
    -ms-flex-preferred-size: 16.66666667%;
    -webkit-flex-basis: 16.66666667%;
            flex-basis: 16.66666667%;
    max-width: 16.66666667%; }

  .col-lg-3 {
    -ms-flex-preferred-size: 25%;
    -webkit-flex-basis: 25%;
            flex-basis: 25%;
    max-width: 25%; }

  .col-lg-4 {
    -ms-flex-preferred-size: 33.33333333%;
    -webkit-flex-basis: 33.33333333%;
            flex-basis: 33.33333333%;
    max-width: 33.33333333%; }

  .col-lg-5 {
    -ms-flex-preferred-size: 41.66666667%;
    -webkit-flex-basis: 41.66666667%;
            flex-basis: 41.66666667%;
    max-width: 41.66666667%; }

  .col-lg-6 {
    -ms-flex-preferred-size: 50%;
    -webkit-flex-basis: 50%;
            flex-basis: 50%;
    max-width: 50%; }

  .col-lg-7 {
    -ms-flex-preferred-size: 58.33333333%;
    -webkit-flex-basis: 58.33333333%;
            flex-basis: 58.33333333%;
    max-width: 58.33333333%; }

  .col-lg-8 {
    -ms-flex-preferred-size: 66.66666667%;
    -webkit-flex-basis: 66.66666667%;
            flex-basis: 66.66666667%;
    max-width: 66.66666667%; }

  .col-lg-9 {
    -ms-flex-preferred-size: 75%;
    -webkit-flex-basis: 75%;
            flex-basis: 75%;
    max-width: 75%; }

  .col-lg-10 {
    -ms-flex-preferred-size: 83.33333333%;
    -webkit-flex-basis: 83.33333333%;
            flex-basis: 83.33333333%;
    max-width: 83.33333333%; }

  .col-lg-11 {
    -ms-flex-preferred-size: 91.66666667%;
    -webkit-flex-basis: 91.66666667%;
            flex-basis: 91.66666667%;
    max-width: 91.66666667%; }

  .col-lg-12 {
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
            flex-basis: 100%;
    max-width: 100%; }

  .col-lg-offset-0 {
    margin-left: 0; }

  .col-lg-offset-1 {
    margin-left: 8.33333333%; }

  .col-lg-offset-2 {
    margin-left: 16.66666667%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-4 {
    margin-left: 33.33333333%; }

  .col-lg-offset-5 {
    margin-left: 41.66666667%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-7 {
    margin-left: 58.33333333%; }

  .col-lg-offset-8 {
    margin-left: 66.66666667%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-10 {
    margin-left: 83.33333333%; }

  .col-lg-offset-11 {
    margin-left: 91.66666667%; }

  .start-lg {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
            justify-content: flex-start;
    text-align: start; }

  .center-lg {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    text-align: center; }

  .end-lg {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
            justify-content: flex-end;
    text-align: end; }

  .top-lg {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
            align-items: flex-start; }

  .middle-lg {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
            align-items: center; }

  .bottom-lg {
    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
            align-items: flex-end; }

  .around-lg {
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
            justify-content: space-around; }

  .between-lg {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
            justify-content: space-between; }

  .first-lg {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    -webkit-order: -1;
            order: -1; }

  .last-lg {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    -webkit-order: 1;
            order: 1; } }

/*# sourceMappingURL=main.css.map */